body {
    background-color: #602824;
    color: #FFE2B2;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    border: 1px solid #FFE2B2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #803640;
}

h1 {
    margin-bottom: 20px;
}

.auth {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #FFE2B2;
    border-radius: 5px;
    background-color: #602824;
    color: #FFE2B2;
    margin: 5px 0;
}

button {
    padding: 10px 15px;
    background-color: #FFE2B2;
    border: none;
    border-radius: 5px;
    color: #602824;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #D6B68A;
}

.reviews-list {
    margin-top: 20px;
    border-top: 1px solid #FFE2B2;
    padding-top: 10px;
}

.review {
    background-color: #803640;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    line-height: 1.5;
}

.author {
    font-weight: bold;
    color: #FFE2B2;
    margin-bottom: 5px;
}
