

 /* Стили для модального окна */

 .modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Если слишком много контента - прокрутка */
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 600px; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal p{
  color: black;
  text-align: center;
}

.modal p span{
  color: #ffd900;
  text-decoration: underline;
}




/* Начало WEB-страницы */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  background-color: #602824;
  background-image: url(../img/BG_pattern.png);
  background-repeat: repeat;
}

section{
  display: block;
}



/* Header */

.wrapper {
    height: 100%;
    width: 100%;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #eee;
  }
  
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 0 40px;

    background-color: #602824;
    border-bottom: #FFE2B2 solid;
  
  }
  
  .logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFE2B2;

    padding: 5px 10px;
    color: #FFE2B2;

    margin-left: 3%;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  


/* Кнопка */

.btn{
  display: block;
  text-decoration: none;
  color: #9f322a;
  background-color: #FFE2B2;
  border-radius: 24px;
  text-align: center;

  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  transition: color linear 0.2s;

  padding: 7px 14px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.btn:active{
  scale: 1.1;
  transition: 0ms;
}

.btn:hover{
  scale: 1.1;
  transition: 0.2s;
}


/* Стили для JS */

.scale{
  scale: 1.5;
  transition: 1s;
}

.none, .none2, .none3, .none4, .none5, .none6, .none7{
  display: none;
}



/* Универсальные классы, задающиеся для многих элементов */

.title{
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFE2B2;
  font-size: 18px;
  font-family: "Oranienbaum";
  letter-spacing: 3px;

  padding-top: 15px;
  padding-bottom: 15px;

  border-top: #FFE2B2 solid;

  display: flex;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.third, .first6, .first7, .pictures{
  border-top: #FFE2B2 dashed;
  padding-top: 12px;
}

h2{
  margin-right:  auto;
  margin-left: auto;
}

.arrow, .arrow2, .arrow3, .arrow4, .arrow5, .arrow6, .arrow7{
  width: 30px;
  height: auto;

  margin-right: 10%;

  cursor: pointer;
}


@keyframes colorChang {
  0% {
    background-color: #602824;
}

50% {
  background-color: #8d302a;
}

100% {
    background-color: #742d28;
}
}


.arrow img, .arrow2 img, .arrow3 img, .arrow4 img, .arrow5 img, .arrow6 img, .arrow7 img{
  scale: 1.6;
  border-radius: 20px;
  animation: colorChang 2s infinite alternate;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.arrow img:hover, .arrow2 img:hover, .arrow3 img:hover, .arrow4 img:hover, .arrow5 img:hover, .arrow6 img:hover, .arrow7 img:hover{
  scale: 1.8;
  transition: 0.1s;
}


.arrow img:active, .arrow2 img:active, .arrow3 img:active, .arrow4 img:active, .arrow5 img:active, .arrow6 img:active, .arrow7 img:active {
  scale: 2;
}


.service .title{
  border: none;
}

.under_title{
  color: #FFE2B2;
  font-size: 20px;
  text-align: center;

  padding-top: 15px;
  margin-bottom: 15px;
  border-top: #FFE2B2 dashed;
}

p{
  color: ivory;
  font-family: "Kurale";

  margin-bottom: 3px;
}


.text{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}



/* Услуги */

.service .title h2{
  display: inline-block;
}
  



/* Блок Контакты */

span.tg{
  color: #3DBDFF;
  text-decoration: underline #3DBDFF;
}

span.wts{
  color: #92F172;
  text-decoration: underline #92F172;
}

span.wts:hover, span.wts:active{
  color: #c5feb3;
  text-decoration: underline #c5feb3;
}

span.tg:hover{
  color: #9ddeff;
  text-decoration: underline #9ddeff;
}


.first7 a{
  text-decoration: none ;
}

.QRs{
  margin-top: 20px;
  margin-bottom: 20px;
}
.QR{
  margin-bottom: 20px;
}

.QR:hover{
  scale: 1.1;
  transition: 0.2s ease;
}

.QR img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_contacts{
  text-align: center;
  margin-top: 10px;
}

.contacts .title{
  margin-bottom: 0px;
}

@keyframes colorChange {
  0% {
    color: #FFE2B2; /* Вернемся к цвету Telegram */
}
  35% {
      color: #9fdfff; /* Цвет эмблемы Telegram */
  }
  70% {
      color: #a4ffc5; /* Цвет эмблемы WhatsApp */
  }
  90% {
      color: #FFE2B2; /* Вернемся к цвету Telegram */
  }
}

.animation {
  animation: colorChange 4s infinite; /* Длительность анимации 3 секунды, бесконечно */
}


/* Блок Примеры Работ */

.pictures{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 120px);
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  column-gap: 10px;
  row-gap: 10px;
}

.picture{
  width: 100px;
  height: 130px;
  max-width: 400px;
}
.picture img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  image-rendering: pixelated;
  max-width: 400px;
}

.unique-modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 20; /* Более высокий z-index */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
}

/* Содержимое нового модального окна */
.modal-image {
  position: absolute;
  top: 23%;
  left: 10%;
  margin: auto;
  display: block;
  max-width: 80%; /* Максимальная ширина изображения */
  max-height: 80%; /* Максимальная высота изображения */
}

/* Кнопка закрытия нового модального окна */
.close-button {
  position: absolute;
  top: 22px;
  right: 30px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/* Блок Обо Мне */

.text_about a{
  color: #FFE2B2;
  text-decoration: none;
}

/* Отзывы */

.title h2.rew{
  font-size: 23px;
}

section.REVIEWS{
  border-bottom: #FFE2B2 solid;
}



/* Footer */

footer{
  display: block;
  background-color: #742d28;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer{
  background-color: #742d28;
  max-height: 110px;
  height: 70px;
  flex-shrink: 0;

  margin-bottom: 0;
}

p.footer{  
  color: #f0d334;

  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.map{
  margin-top: 8px;
  padding-bottom: 30px;

  position: relative;
  width: 100%; 
  padding-top: 56.25%;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  border: none; 
}




/* Адаптация */

@media (max-width: 270px) {

  .title h2{
    font-size: 22px;
  }

  .btn{
    font-size: 13px;
  }

  .logo{
    font-size: 14px;
    
    margin-right: 20px;
  }

  .wrapper{
    text-align: center;
    
    align-items: center;
  }
}

@media (max-width: 280px) {
  .button{
    margin-left: 20px;
  }

  .map{
    max-width: 250px;
    height: 250px;

    margin: 0 auto; /* Центрируем на странице */
    padding: 20px; 
    border: 1px solid #FFE2B2; 
    border-radius: 10px; 
    background-color: #fff; 
    overflow: hidden; /* Скрываем переполнение */
    margin-top: 15px;
    margin-bottom: 10px;
  }

}

@media (min-width: 280px) {
  .map{
    max-width: 250px;
    height: 250px;

    margin: 0 auto; /* Центрируем на странице */
    padding: 20px; 
    border: 1px solid #FFE2B2; 
    border-radius: 10px; 
    background-color: #fff;
    overflow: hidden; /* Скрываем переполнение */
    margin-top: 15px;
    margin-bottom: 10px;
  }
}



@media (min-width: 370px) {
  .text_contacts{
    font-size: 20px;
  }

  .map{
    max-width: 250px;
    height: 250px;

    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #FFE2B2;
    border-radius: 10px; 
    background-color: #fff; 
    overflow: hidden; 
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

@media (min-width: 410px) {
  .title h2 br{
    display: none;
  }
}

@media (min-width: 425px)  {
  
  .QRs{
    display: flex;
    justify-content: center;
  }

  .QRs{
    justify-content: center;
  }

  .QR {
    width: 33%;
  }

  p.footer{
    font-size: 20px;
  }

  .map{
    max-width: 400px;
    height: 300px;

    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #FFE2B2; 
    border-radius: 10px; 
    background-color: #fff; 
    overflow: hidden; 
    margin-top: 15px;
    margin-bottom: 10px;
  }
  
}

@media (min-width: 450px){

.arrow,.arrow2,.arrow3,.arrow4,.arrow5,.arrow6,.arrow7{
  scale: 1.2;
}
.pictures{
  padding-top: 20px;
  margin-bottom: 15px;
}

p{
  font-size: 18px;
}
}

@media (min-width: 700px){
  .modal-image{
    left: 25%;
  }
}

@media (min-width: 630px) {

  .first6 .text {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  p{
    font-size: 20px;
  }

  .button{
    margin-right: 10%;
  }

  .arrow,.arrow2,.arrow3,.arrow4,.arrow5,.arrow6,.arrow7{
    margin-right: 17%;
    scale: 1.33;
  }

  .title h2{
    letter-spacing: 8px;
  }
  

  .text_service,.text_prices_left,.text_prices_right,.text_prices_cat,.text_prices_dop{
    margin-left: 50px;
  }

  .btn br{
    display: none;
  }

  .btn{
    display: flex;
    font-size: 20px;
    padding: 10px 15px;
  }

}

/* Адаптация для компьютерных экранов */

@media (min-width: 769px) {

  .text_service,.text_prices_left,.text_prices_right,.text_prices_cat,.text_prices_dop{
    margin-left: 80px;
  }
  
  .first6 .text {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
  }

  .title {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .service .title h2,
  .prices .title h2,
  .cats .title h2,
  .about .title h2,
  .contacts .title h2,
  .REVIEWS .title h2,
  .gallery .title h2 {
    font-size: 30px; 
    padding-bottom: 10px; 
    padding-top: 10px;
  }

  .REVIEWS .title h2{
    font-size: 26px;
  }

 
  .btn:hover {
    background-color: #ffec82; /* Более яркий цвет фона при наведении */
  }

  .header {
    min-height: 80px; /* Минимальная высота шапки */
    padding: 10px 40px; /* Добавим отступы */
    background-color: #602824; /* Цвет фона шапки */
    display: flex;
    align-items: center; /* Вертикальное выравнивание */
  }

  .header .logo {
    padding: 15px; 
    display: flex; /* Выравнивание логотипа */
    align-items: center; /* Вертикальное выравнивание логотипа */
  }

  footer {
    padding: 20px;
  }

  .QR{
    scale: 1.2;
  }

}



@media (min-width: 850px) {
  
  .map {
    max-width: 700px; 
    height: 400px;
    margin: 0 auto; 
    padding: 20px; 
    border: 1px solid #FFE2B2; 
    border-radius: 10px; 
    background-color: #fff; 
    overflow: hidden;

    margin-top: 20px;
  }

  .under_title{
    font-size: 24px;
  }

  
    .text_service,.text_prices_left,.text_prices_right,.text_prices_cat,.text_prices_dop{
      margin-left: 110px;
    }
}


@media (min-width: 950px) {
.text_service,.text_prices_left,.text_prices_right,.text_prices_cat,.text_prices_dop{
  margin-left: 140px;
}

.first6 .text {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 75px;
  padding-right: 75px;
}
}

@media (min-width: 1100px) {

body{
  width: 1100px;
  border: #FFE2B2 solid;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

html{
  background-color: #602824;
  background-image: url(../img/BGhtml.png);
}

.modal-image{
  left: 32%;
}
}
